/* =========================================================== */
/* 
  Padding Variables Examples
  p-0 = padding of 0rem on all sides
  p-4 = padding of 1rem on all sides
  p-8 = padding of 2rem on all sides
  px-4 = padding of 1rem on horiztonal access
  py-4 = padding of 1rem on vertical access 
  pt-4 = padding of 1rem on top 
  pb-4 = padding of 1rem on bottom 
  pl-4 = padding of 1rem on left 
  pr-4 = padding of 1rem on right 
*/
*/ [class*="p-0-"] {
  padding: 0;
}
[class*="p-0-5"] {
  padding: var(--size0-5);
}
[class*="p-1"] {
  padding: var(--size1);
}
[class*="p-1-5"] {
  padding: var(--size1-5);
}
[class*="p-2"] {
  padding: var(--size2);
}
[class*="p-2-5"] {
  padding: var(--size2-5);
}
[class*="p-3"] {
  padding: var(--size3);
}
[class*="p-3-5"] {
  padding: var(--size3-5);
}
[class*="p-4"] {
  padding: var(--size4);
}
[class*="p-5"] {
  padding: var(--size5);
}
[class*="p-6"] {
  padding: var(--size6);
}
[class*="p-7"] {
  padding: var(--size7);
}
[class*="p-8"] {
  padding: var(--size8);
}
[class*="p-10"] {
  padding: var(--size10);
}
[class*="p-12"] {
  padding: var(--size12);
}
[class*="p-14"] {
  padding: var(--size14);
}
[class*="p-16"] {
  padding: var(--size16);
}
[class*="p-20"] {
  padding: var(--size20);
}
[class*="p-24"] {
  padding: var(--size24);
}
[class*="p-0-0"] {
  padding: 0;
}

[class*="py-0"] {
  padding-top: 0;
  padding-bottom: 0;
}
[class*="py-0-5"] {
  padding-top: var(--size0-5);
  padding-bottom: var(--size0-5);
}
[class*="py-1"] {
  padding-top: var(--size1);
  padding-bottom: var(--size1);
}
[class*="py-1-5"] {
  padding-top: var(--size1-5);
  padding-bottom: var(--size1-5);
}
[class*="py-2"] {
  padding-top: var(--size2);
  padding-bottom: var(--size2);
}
[class*="py-2-5"] {
  padding-top: var(--size2-5);
  padding-bottom: var(--size2-5);
}
[class*="py-3"] {
  padding-top: var(--size3);
  padding-bottom: var(--size3);
}
[class*="py-3-5"] {
  padding-top: var(--size3-5);
  padding-bottom: var(--size3-5);
}
[class*="py-4"] {
  padding-top: var(--size4);
  padding-bottom: var(--size4);
}
[class*="py-5"] {
  padding-top: var(--size5);
  padding-bottom: var(--size5);
}
[class*="py-6"] {
  padding-top: var(--size6);
  padding-bottom: var(--size6);
}
[class*="py-7"] {
  padding-top: var(--size7);
  padding-bottom: var(--size7);
}
[class*="py-8"] {
  padding-top: var(--size8);
  padding-bottom: var(--size8);
}
[class*="py-10"] {
  padding-top: var(--size10);
  padding-bottom: var(--size10);
}
[class*="py-12"] {
  padding-top: var(--size12);
  padding-bottom: var(--size12);
}
[class*="py-14"] {
  padding-top: var(--size14);
  padding-bottom: var(--size14);
}
[class*="py-16"] {
  padding-top: var(--size16);
  padding-bottom: var(--size16);
}
[class*="py-20"] {
  padding-top: var(--size20);
  padding-bottom: var(--size20);
}
[class*="py-24"] {
  padding-top: var(--size24);
  padding-bottom: var(--size24);
}
[class*="py-0-0"] {
  padding-top: 0;
  padding-bottom: 0;
}

[class*="px-0"] {
  padding-left: 0;
  padding-right: 0;
}
[class*="px-0-5"] {
  padding-left: var(--size0-5);
  padding-right: var(--size0-5);
}
[class*="px-1"] {
  padding-left: var(--size1);
  padding-right: var(--size1);
}
[class*="px-1-5"] {
  padding-left: var(--size1-5);
  padding-right: var(--size1-5);
}
[class*="px-2"] {
  padding-left: var(--size2);
  padding-right: var(--size2);
}
[class*="px-2-5"] {
  padding-left: var(--size2-5);
  padding-right: var(--size2-5);
}
[class*="px-3"] {
  padding-left: var(--size3);
  padding-right: var(--size3);
}
[class*="px-3-5"] {
  padding-left: var(--size3-5);
  padding-right: var(--size3-5);
}
[class*="px-4"] {
  padding-left: var(--size4);
  padding-right: var(--size4);
}
[class*="px-5"] {
  padding-left: var(--size5);
  padding-right: var(--size5);
}
[class*="px-6"] {
  padding-left: var(--size6);
  padding-right: var(--size6);
}
[class*="px-7"] {
  padding-left: var(--size7);
  padding-right: var(--size7);
}
[class*="px-8"] {
  padding-left: var(--size8);
  padding-right: var(--size8);
}
[class*="px-10"] {
  padding-left: var(--size10);
  padding-right: var(--size10);
}
[class*="px-12"] {
  padding-left: var(--size12);
  padding-right: var(--size12);
}
[class*="px-14"] {
  padding-left: var(--size14);
  padding-right: var(--size14);
}
[class*="px-16"] {
  padding-left: var(--size16);
  padding-right: var(--size16);
}
[class*="px-20"] {
  padding-left: var(--size20);
  padding-right: var(--size20);
}
[class*="px-24"] {
  padding-left: var(--size24);
  padding-right: var(--size24);
}
[class*="px-0-0"] {
  padding-left: 0;
  padding-right: 0;
}

[class*="pt-0"] {
  padding-top: 0;
}
[class*="pt-0-5"] {
  padding-top: var(--size0-5);
}
[class*="pt-1"] {
  padding-top: var(--size1);
}
[class*="pt-1-5"] {
  padding-top: var(--size1-5);
}
[class*="pt-2"] {
  padding-top: var(--size2);
}
[class*="pt-2-5"] {
  padding-top: var(--size2-5);
}
[class*="pt-3"] {
  padding-top: var(--size3);
}
[class*="pt-3-5"] {
  padding-top: var(--size3-5);
}
[class*="pt-4"] {
  padding-top: var(--size4);
}
[class*="pt-5"] {
  padding-top: var(--size5);
}
[class*="pt-6"] {
  padding-top: var(--size6);
}
[class*="pt-7"] {
  padding-top: var(--size7);
}
[class*="pt-8"] {
  padding-top: var(--size8);
}
[class*="pt-10"] {
  padding-top: var(--size10);
}
[class*="pt-12"] {
  padding-top: var(--size12);
}
[class*="pt-14"] {
  padding-top: var(--size14);
}
[class*="pt-16"] {
  padding-top: var(--size16);
}
[class*="pt-20"] {
  padding-top: var(--size20);
}
[class*="pt-24"] {
  padding-top: var(--size24);
}
[class*="pt-0-0"] {
  padding-top: 0;
}

[class*="pb-0"] {
  padding-bottom: 0;
}
[class*="pb-0-5"] {
  padding-bottom: var(--size0-5);
}
[class*="pb-1"] {
  padding-bottom: var(--size1);
}
[class*="pb-1-5"] {
  padding-bottom: var(--size1-5);
}
[class*="pb-2"] {
  padding-bottom: var(--size2);
}
[class*="pb-2-5"] {
  padding-bottom: var(--size2-5);
}
[class*="pb-3"] {
  padding-bottom: var(--size3);
}
[class*="pb-3-5"] {
  padding-bottom: var(--size3-5);
}
[class*="pb-4"] {
  padding-bottom: var(--size4);
}
[class*="pb-5"] {
  padding-bottom: var(--size5);
}
[class*="pb-6"] {
  padding-bottom: var(--size6);
}
[class*="pb-7"] {
  padding-bottom: var(--size7);
}
[class*="pb-8"] {
  padding-bottom: var(--size8);
}
[class*="pb-10"] {
  padding-bottom: var(--size10);
}
[class*="pb-12"] {
  padding-bottom: var(--size12);
}
[class*="pb-14"] {
  padding-bottom: var(--size14);
}
[class*="pb-16"] {
  padding-bottom: var(--size16);
}
[class*="pb-20"] {
  padding-bottom: var(--size20);
}
[class*="pb-24"] {
  padding-bottom: var(--size24);
}
[class*="pb-0-0"] {
  padding-bottom: 0;
}

[class*="pl-0"] {
  padding-left: 0;
}
[class*="pl-0-5"] {
  padding-left: var(--size0-5);
}
[class*="pl-1"] {
  padding-left: var(--size1);
}
[class*="pl-1-5"] {
  padding-left: var(--size1-5);
}
[class*="pl-2"] {
  padding-left: var(--size2);
}
[class*="pl-2-5"] {
  padding-left: var(--size2-5);
}
[class*="pl-3"] {
  padding-left: var(--size3);
}
[class*="pl-3-5"] {
  padding-left: var(--size3-5);
}
[class*="pl-4"] {
  padding-left: var(--size4);
}
[class*="pl-5"] {
  padding-left: var(--size5);
}
[class*="pl-6"] {
  padding-left: var(--size6);
}
[class*="pl-7"] {
  padding-left: var(--size7);
}
[class*="pl-8"] {
  padding-left: var(--size8);
}
[class*="pl-10"] {
  padding-left: var(--size10);
}
[class*="pl-12"] {
  padding-left: var(--size12);
}
[class*="pl-14"] {
  padding-left: var(--size14);
}
[class*="pl-16"] {
  padding-left: var(--size16);
}
[class*="pl-20"] {
  padding-left: var(--size20);
}
[class*="pl-24"] {
  padding-left: var(--size24);
}
[class*="pl-0-0"] {
  padding-left: 0;
}

[class*="pr-0"] {
  padding-right: 0;
}
[class*="pr-0-5"] {
  padding-right: var(--size0-5);
}
[class*="pr-1"] {
  padding-right: var(--size1);
}
[class*="pr-1-5"] {
  padding-right: var(--size1-5);
}
[class*="pr-2"] {
  padding-right: var(--size2);
}
[class*="pr-2-5"] {
  padding-right: var(--size2-5);
}
[class*="pr-3"] {
  padding-right: var(--size3);
}
[class*="pr-3-5"] {
  padding-right: var(--size3-5);
}
[class*="pr-4"] {
  padding-right: var(--size4);
}
[class*="pr-5"] {
  padding-right: var(--size5);
}
[class*="pr-6"] {
  padding-right: var(--size6);
}
[class*="pr-7"] {
  padding-right: var(--size7);
}
[class*="pr-8"] {
  padding-right: var(--size8);
}
[class*="pr-10"] {
  padding-right: var(--size10);
}
[class*="pr-12"] {
  padding-right: var(--size12);
}
[class*="pr-14"] {
  padding-right: var(--size14);
}
[class*="pr-16"] {
  padding-right: var(--size16);
}
[class*="pr-20"] {
  padding-right: var(--size20);
}
[class*="pr-24"] {
  padding-right: var(--size24);
}
[class*="pr-0-0"] {
  padding-right: 0;
}
