[class*="gap-0"] {
  --grid-row-gap: 0;
  --grid-column-gap: 0;
}
[class*="gap-0-5"] {
  --grid-row-gap: var(--size0-5);
  --grid-column-gap: var(--size0-5);
}
[class*="gap-1"] {
  --grid-row-gap: var(--size1);
  --grid-column-gap: var(--size1);
}
[class*="gap-1-5"] {
  --grid-row-gap: var(--size1-5);
  --grid-column-gap: var(--size1-5);
}
[class*="gap-2"] {
  --grid-row-gap: var(--size2);
  --grid-column-gap: var(--size2);
}
[class*="gap-2-5"] {
  --grid-row-gap: var(--size2-5);
  --grid-column-gap: var(--size2-5);
}
[class*="gap-3"] {
  --grid-row-gap: var(--size3);
  --grid-column-gap: var(--size3);
}
[class*="gap-3-5"] {
  --grid-row-gap: var(--size3-5);
  --grid-column-gap: var(--size3-5);
}
[class*="gap-4"] {
  --grid-row-gap: var(--size4);
  --grid-column-gap: var(--size4);
}
[class*="gap-5"] {
  --grid-row-gap: var(--size5);
  --grid-column-gap: var(--size5);
}
[class*="gap-6"] {
  --grid-row-gap: var(--size6);
  --grid-column-gap: var(--size6);
}
[class*="gap-7"] {
  --grid-row-gap: var(--size7);
  --grid-column-gap: var(--size7);
}
[class*="gap-8"] {
  --grid-row-gap: var(--size8);
  --grid-column-gap: var(--size8);
}
[class*="gap-10"] {
  --grid-row-gap: var(--size10);
  --grid-column-gap: var(--size10);
}
[class*="gap-12"] {
  --grid-row-gap: var(--size12);
  --grid-column-gap: var(--size12);
}
[class*="gap-14"] {
  --grid-row-gap: var(--size14);
  --grid-column-gap: var(--size14);
}
[class*="gap-16"] {
  --grid-row-gap: var(--size16);
  --grid-column-gap: var(--size16);
}
[class*="gap-20"] {
  --grid-row-gap: var(--size20);
  --grid-column-gap: var(--size20);
}
[class*="gap-0-0"] {
  --grid-row-gap: 0;
  --grid-column-gap: 0;
}

[class*="gap-y-0"] {
  --grid-row-gap: 0;
}
[class*="gap-y-0-5"] {
  --grid-row-gap: var(--size0-5);
}
[class*="gap-y-1"] {
  --grid-row-gap: var(--size1);
}
[class*="gap-y-1-5"] {
  --grid-row-gap: var(--size1-5);
}
[class*="gap-y-2"] {
  --grid-row-gap: var(--size2);
}
[class*="gap-y-2-5"] {
  --grid-row-gap: var(--size2-5);
}
[class*="gap-y-3"] {
  --grid-row-gap: var(--size3);
}
[class*="gap-y-3-5"] {
  --grid-row-gap: var(--size3-5);
}
[class*="gap-y-4"] {
  --grid-row-gap: var(--size4);
}
[class*="gap-y-5"] {
  --grid-row-gap: var(--size5);
}
[class*="gap-y-6"] {
  --grid-row-gap: var(--size6);
}
[class*="gap-y-7"] {
  --grid-row-gap: var(--size7);
}
[class*="gap-y-8"] {
  --grid-row-gap: var(--size8);
}
[class*="gap-y-10"] {
  --grid-row-gap: var(--size10);
}
[class*="gap-y-12"] {
  --grid-row-gap: var(--size12);
}
[class*="gap-y-14"] {
  --grid-row-gap: var(--size14);
}
[class*="gap-y-16"] {
  --grid-row-gap: var(--size16);
}
[class*="gap-y-20"] {
  --grid-row-gap: var(--size20);
}
[class*="gap-y-0-0"] {
  --grid-row-gap: 0;
}

[class*="gap-x-0"] {
  --grid-column-gap: 0;
}
[class*="gap-x-0-5"] {
  --grid-column-gap: var(--size0-5);
}
[class*="gap-x-1"] {
  --grid-column-gap: var(--size1);
}
[class*="gap-x-1-5"] {
  --grid-column-gap: var(--size1-5);
}
[class*="gap-x-2"] {
  --grid-column-gap: var(--size2);
}
[class*="gap-x-2-5"] {
  --grid-column-gap: var(--size2-5);
}
[class*="gap-x-3"] {
  --grid-column-gap: var(--size3);
}
[class*="gap-x-3-5"] {
  --grid-column-gap: var(--size3-5);
}
[class*="gap-x-4"] {
  --grid-column-gap: var(--size4);
}
[class*="gap-x-5"] {
  --grid-column-gap: var(--size5);
}
[class*="gap-x-6"] {
  --grid-column-gap: var(--size6);
}
[class*="gap-x-7"] {
  --grid-column-gap: var(--size7);
}
[class*="gap-x-8"] {
  --grid-column-gap: var(--size8);
}
[class*="gap-x-10"] {
  --grid-column-gap: var(--size10);
}
[class*="gap-x-12"] {
  --grid-column-gap: var(--size12);
}
[class*="gap-x-14"] {
  --grid-column-gap: var(--size14);
}
[class*="gap-x-16"] {
  --grid-column-gap: var(--size16);
}
[class*="gap-x-20"] {
  --grid-column-gap: var(--size20);
}
[class*="gap-x-0-0"] {
  --grid-column-gap: 0;
}
